*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%; /* rem --> 1rem = 10px*/
}

body{
    background-color: rgb(70, 70, 70);
    min-width: 320px;
}

.header {
    width: 100%;
    height: 50px;
    margin-right: auto;
    background-color: rgb(70, 70, 70);
    display: flex;
    align-items: center;
    justify-content: space-around;    
}

.header__h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    margin: auto;
    color: white;
    width: 60%;
    text-align: center;
}

.section{
    width: 100%;
    height: calc(100vh - 100px);
    background-color: rgb(05, 05, 05);
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section__aside {
    display: none;
}

.section__main{
    width: 100%;
    height: 70%;
    border: 6px solid white;
    border-radius: 20px;
    padding: 10px 10px;
}

.section__main-table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.section__main-table td{
    text-align: center;
    font-size: 4.5rem;
    width: 16.6666%;
}

.section__main-table tr{
    height: 16.6666%;
}

#c1_1, #c1_2, #c1_3, #c1_4, #c1_5, #c2_1, #c2_2, #c2_3, #c2_4, #c2_5, #c3_1, #c3_2, #c3_3, #c3_4, #c3_5, #c4_1, #c4_2, #c4_3, #c4_4, #c4_5, #c5_2, #c6_2, #c5_1, #c6_1, #c5_3, #c6_3, #c5_4, #c6_4, #c5_5, #c6_5{
    border-right: 10px solid white ;
}

#c1_1, #c1_2, #c1_3, #c1_4, #c1_5, #c2_1, #c2_2, #c2_3, #c2_4, #c2_5, #c3_1, #c3_2, #c3_3, #c3_4, #c3_5, #c4_1, #c4_2, #c4_3, #c4_4, #c4_5, #c1_6, #c2_6, #c3_6, #c4_6, #c5_1, #c5_2,#c5_3,#c5_4,#c5_5,#c5_6{
    border-bottom: 10px solid white;
}


.button_sel{
    display: block;
}

.button_select{
    height: 95%;
    width: 95%;
    margin: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
    font-size: 4.5rem;
}

.section__div-mobile{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.player-mobile-p{
    font-size: 1.8rem;
}

#score_1, #score_2, #score_1m, #score_2m {
    font-size: 3rem;
}

.player-mobile{
    width: 40%;
    height: 100px;
    border: 2px solid black;
    border-radius: 20px;
    background: linear-gradient(150deg, #170055, #1A1A40, #040303);
    background-size: 400% 300%;
    animation: BgGradient 15s ease infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
@keyframes BgGradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

.footer {
    width: 100%;
    height: 50px;
    background-color: transparent;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_start {
    height: 40px;
    width: 200px;
    border-radius: 10px;
    border: none;
    background-color: #1A1A40;
    color: aliceblue;
    font-size: 1.4rem;
    font-weight: bold;
    margin-left: 20px;
}

#ranGame , #start {
    cursor: pointer;
}

#nextButton, #cleanButton {
    background-color: 535252;
    cursor: default;
}

.modal-container{
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.modal{
    width: 60%;
    height: 70%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px 10px;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);
}

.modal-close{
    transform: translateY(-200%)
}

.modal img{
    width: 30%;
}

.modal-text{
    font-size: 1.5rem;
    color: tomato;
    text-align: center;
}

.start_button{
    width: 120px;
    font-size: 2rem;
}